<!-- Banner -->
  <section id="banner">
    <div class="content">
      <header>
        <h1>Hi! You want to learn German?<br />
        </h1>
        <p>Yep me too!</p>
      </header>
      <p>But it's really hard. Really really hard. And you know what. It's ok. We can do hard things. I'm not stupid. You're not either (probably).
      </p>
      <ul class="actions">
        <form
        action="https://buttondown.email/api/emails/embed-subscribe/germanquest"
        method="post"
        target="popupwindow"
        onsubmit="window.open('https://buttondown.email/germanquest', 'popupwindow')"
        class="embeddable-buttondown-form"
      >
        <label for="bd-email">Get german tips to your mailbox</label>
        <input type="email" name="email" id="bd-email" />
        
        <input type="submit" value="Subscribe" />
        <!-- <p>
          <a href="https://buttondown.email/refer/germanquest" target="_blank">Powered by Buttondown.</a>
        </p> -->
      </form>
        <!-- <li><a href="#" class="button big">Learn More</a></li> -->
      </ul>
    </div>
    <span class="image object">
      <img src="assets/images/pic02.jpg" alt="" />
    </span>
  </section>
